/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed purple;
}
/*  */

/* TYPOGRAPHY */
body {
  font-family: "Montserrat", sans-serif;
} 

/*/ */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
    cursor: pointer;
}

/* / */

/* GENERAL */

.container {
    height: calc(100vh - 90px);
    width: 100%;
    /* max-width: 1170px;
    margin: 0 auto; */
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    padding: 0 15px;
    background-color: azure;
    
}

/*  */

/* COMMON */
img {
    max-width: 100%;
}

.card {
    padding: 20px;
}

/*  */

/* MAIN */
main {
    width: 100%;
}
/* MAIN */

/* ASIDE */
#aside {
    background-color: bisque;
}
/*/ ASIDE */

/* MAIN CONTENT */
#main-content {
    overflow-y: auto;
}




/* FOOTER */
footer {
    width: 100%;
    height:90px;
    background-color: aqua;
}
/*/ FOOTER */