/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed purple;
}
/*  */

/* TYPOGRAPHY */
body {
  font-family: "Montserrat", sans-serif;
} 

/*/ */

/* COLOR */
.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #282828;
}

.bg-darkgray {
    background-color: #080B12;
}
.bg-mediumgray {
    background-color: #141922;
}

.clr-white{
    color: #FFFFFF;
}

/*/ */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
    cursor: pointer;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

.btn-secondary {
    padding:0px 7px; 
    border: none;
}

/* / */

/* GENERAL */

.container {

    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.col {
    padding: 0 15px;
    background-color: azure;
    
}

/*  */

/* COMMON */
img {
    max-width: 100%;
}

.card {
    padding: 20px;
}

/*  */

/* MAIN */
main .container {
    height: calc(100vh - 90px);
    width: 100%;
/*     max-width: 1170px;
 */    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

/* / */

/* ASIDE */

#aside {
    margin-left: -10px;
}

#aside .upper-box-logo {
    height: 90px;
    display: flex;
    align-items: center;
    padding:0 0 0 16px ;
}

#aside .upper-box-logo img {
    max-width: 132px;
}

#aside .box {
    width:224px;
    background-color: #000000;
    padding: 0px 16px 0px 16px;
}

#aside li {
    list-style: none;
}

#aside .box-menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
}

#aside .playlist-main .btn-secondary {
    background-color:#A3A3A3 ;
    font-size: 30px;
    vertical-align: middle;
}

.playlist-list {
    overflow-y: auto;
}

#aside .installation {
    margin-top: auto;
    margin-bottom: 10px;

}

.arrow {
    border: 1px solid white;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
}

.installation .icon {
    margin-right: 10px;
    background-color:#808080;
    border-radius: 20px;
    padding: 4px 6px;
}

.installation a {
    display: block;
    margin-bottom: 10px;
}

#aside .username {
    border-top: 2px solid #717171 ;
    padding-top: 10px;
}

/*/ */

/* CONTENT */

#content {
    display: flex;
    width:100%;
    margin-right: -10px;
}

#content .upper-box {
    height: 90px;
    width:100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#content .upper-box > .btn-primary {
    margin-top: 19px;
    margin-bottom: 26px;
}



/* */



 



/* FOOTER */
footer {
    width: 100%;
    height:90px;
    background-color: #282828;
}

footer .container {
    height: 90px; 
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
/*/ FOOTER */