/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed purple;
}
/*  */

/* TYPOGRAPHY */
body {
  font-family: "Montserrat", sans-serif;
} 

/*/ */

/* MARGIN */
.mrg-right-10 {
    margin-right: 10px;
}

.mrg-bottom-10 {
    margin-bottom: 10px;
}
.mrg-bottom-20 {
    margin-bottom: 20px;
}


/*  */

/* COLOR */
.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #282828;
}

.bg-darkgray {
    background-color: #080B12;
}
.bg-mediumgray {
    background-color: #141922;
}

.clr-white{
    color: #FFFFFF;
}

/*/ */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
    cursor: pointer;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

.btn-secondary {
    padding:0px 7px; 
    border: none;
}

/* / */

/* GENERAL */

.container {

    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    /* margin-left: -10px;
    margin-right: -10px; */
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.col {
    padding: 0 15px;
}

/*  */

/* COMMON */
img {
    max-width: 100%;
}

.card {
    padding: 20px;
}

/*  */

/* MAIN */
main .container {
    height: calc(100vh - 90px);
    width: 100%;     
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

/* / */

/* ASIDE */

#aside {
    margin-left: -10px;
    overflow: hidden;
    width: 224px;
    flex-shrink: 0;
}

#aside .upper-box-logo {
    height: 90px;
    display: flex;
    align-items: center;
}

#aside .upper-box-logo .logo {
    max-width: 132px;
}

#aside .upper-box-logo .logo-small {
    display: none;
    max-width: 20px;
}

#aside .box {
    background-color: #000000;
    padding: 0px 16px 0px 16px;
}

#aside li {
    list-style: none;
}

#aside .box-menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
    flex-wrap: nowrap;
    color: #7D7F84;
    font-weight: bold;
}

#aside .box-menu .icon {
    font-size: 22px;
    margin-right: 10px;
}

#aside .box-menu .icon-books {
    display: inline-block;
}

#aside .playlist-main .btn-secondary {
    background-color:#A3A3A3 ;
    font-size: 30px;
    vertical-align: sub;
}

.playlist-list {
    overflow-y: auto;
}

.playlist-list ul li {
    margin-bottom: 20px;
}

#aside .installation {
    margin-top: auto;
    margin-bottom: 10px;

}

.arrow {
    border: 1px solid white;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
}

.installation .icon {
    margin-right: 10px;
    background-color:#808080;
    border-radius: 20px;
    padding: 4px 6px;
}

.installation a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
}

#aside .username {
    border-top: 2px solid #717171 ;
    padding-top: 10px;
}



/*/ */

/* CONTENT */

#content {
    display: flex;
    width:100%;
    margin-right: -10px;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

#content .upper-box {
    height: 90px;
    width:100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#content .upper-box > .btn-primary {
    margin-top: 19px;
    margin-bottom: 26px;
}

#content .upper-box > .btn-primary:hover {
    font-size: 17px;
}



#content .main-content-box {
    margin:  0 auto;
    overflow-y: auto;
    height: calc(100vh - 180px);
    width: 100%;
    padding-top:20px ;
    align-content: flex-start;
    background-color: #141922;
}

#content .row-nav {
    width: 100%;
    font-weight: bold;
    color:#7D7F84 ;
}

#content .row-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 15px;
    
}

#content .row-nav a {
    color: #7D7F84 ;
    text-decoration: none;
}

#content .row-nav ul li {
    padding: 0 15px 20px 15px;
}

.row-recent .col {
    width: calc(100% / 6);
    margin-bottom: 10px;
    text-align: center;
}

.main-content-box .album-image {
    margin-bottom: 10px;
}

.main-content-box .container-image-round {
    border-radius:50% ;
    overflow: hidden;
}

.main-content-box .col .title {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.main-content-box .col .subtitle {
    color: #7D7F84;
    font-size: 14px;
    font-weight: bold;
}

.main-content-box .list-title {
    width: 100%;
}

.main-content-box .list-description {
    color: #7D7F84;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}


.container-image {
    position: relative;
}

.container-image img {
    display: block;
}

.container-image-hover {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s opacity;
}

.container-image-hover i {
/*     height: 60px; */
    color: white;
    font-size: 40px;
 }

.album-card:hover .container-image-hover {
    opacity: 1;
}

/* */





/* FOOTER */
footer {
    width: 100%;
    height:90px;
    background-color: #282828;
    position: relative;
    z-index: 1000;
}

footer .container {
    height: 90px; 
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.footer-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-left .image-played {
    width: 60px;
    margin-right: 10px ;
}

.footer-left .subtitle {
    color: #7D7F84;
    font-size: 14px;
    font-weight: bold;
}

.footer-left .song-played {
    margin-right: 38px;
}

.footer-left .favourite-folder i {
    padding-right: 10px;
    color:#7D7F84 ;
    font-size: 20px;
}

.footer-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.footer-center .buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.footer-center .buttons-box i {
    font-size: 20px;
    padding: 0 14px;
}

.footer-center .buttons-box i.central {
    font-size: 35px;
    padding: 0 20px;
}

.footer-center .buttons-box i.central:hover {
    font-size: 36px;
}

.footer-center .time-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footer-center .time-box .time-progress, 
.footer-center .time-box .total-time {
    font-weight: bold;
    font-size: 14px;
}

.footer-center .bar {
    height: 3px;
    min-width: 65%;
    background-color:#7D7F84;
    
}

.footer-center .bar-inside {
    height:100%;
    width: 20%;
    background-color:#C1C1C1 ;
}

.footer-center .bar-inside:hover {
    background-color: #c7f27b;
}



.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.bar {
    height: 3px;
    background-color:#7D7F84 ;
}

.bar-inside {
    height:100%;
    background-color:#C1C1C1 ;
}
.footer-right .bar {
    height: 3px;
    width: 20%;
    min-width:84px ;
    background-color:#7D7F84 ;
}

.footer-right .bar-inside {
    height:100%;
    width: 30%;
    background-color:#C1C1C1 ;
}

.footer-right .bar-inside:hover {
    background-color: #c7f27b;
}

.footer-right i{
    padding: 0 10px;
}

/*/ FOOTER */






 /* RESPONSIVE */

 /* max-width < = 1100px  */
 @media screen and (max-width: 1100px) {
    .row-recent .col {
        width: calc(100% / 4);
    }
 }
 /* /  */

 /* max-width < = 700px */
 @media screen and (max-width: 700px) {
    
    .row-recent .col {
        width: calc(100% / 2);
    }

    .footer-left .song-played {
        margin-right:15px ;
    }

    .footer-right i {
        padding: 5px;
    }

    .footer-right .bar {
        min-width: 40%;
    }
    
 }
 /* / */


  /*max-width < = 600px */
@media screen and (max-width: 600px) {
    #aside {
        width: 55px;
        text-align: center;
    }

    #aside .box {
        padding: 0;
    }

    #aside .upper-box-logo .logo {
        display: none;
    }

    #aside .upper-box-logo .logo-small {
        display: block;
        max-width: 33px;
    }

    .mobile-none {
        display: none;
    }

    .playlist-main, .playlist-list {
        display: none;
    }

    #aside .username {
        border-top: 0;
    }

    #aside .box-menu .icon {
        margin-right: 0;
    }

    .arrow {
        margin-right: 0;
    }


    .row-recent .col {
        width: calc(100% / 2);
    }



}

/*  */