/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed purple;
}
/*  */

/* TYPOGRAPHY */
body {
  font-family: "Montserrat", sans-serif;
} 

/*/ */

/* COLOR */
.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #282828;
}

.bg-darkgray {
    background-color: #080B12;
}
.bg-mediumgray {
    background-color: #141922;
}

.clr-white{
    color: #FFFFFF;
}

/*/ */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
    cursor: pointer;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

/* / */

/* GENERAL */

.container {

    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.col {
    padding: 0 15px;
    background-color: azure;
    
}

/*  */

/* COMMON */
img {
    max-width: 100%;
}

.card {
    padding: 20px;
}

/*  */

/* MAIN */
main .container {
    height: calc(100vh - 90px);
    width: 100%;
/*     max-width: 1170px;
 */    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

/* / */

/* ASIDE */

#aside {
    margin-left: -10px;
}

#aside .upper-box-logo {
    height: 90px;
    display: flex;
    align-items: center;
    padding:0 0 0 16px ;
}

#aside .upper-box-logo img {
    max-width: 132px;
}

#aside .box {
    width:224px;
/*     padding: 18px 0 5px 16px;
 */}

#aside .box {
    background-color: #000000;
}


/*/ */

/* CONTENT */

#content {
    display: flex;
    width:100%;
    margin-right: -10px;
}

#content .upper-box {
    height: 90px;
    width:100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#content .upper-box > .btn-primary {
    margin-top: 19px;
    margin-bottom: 26px;
}

/* */



 



/* FOOTER */
footer {
    width: 100%;
    height:90px;
    background-color: #282828;
}

footer .container {
    height: 90px; 
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
/*/ FOOTER */